Selenium/obj/
Selenium/bin/
WindowsServiceControlApi/obj/
WindowsServiceControlApi/bin/
TimeZone/obj/
TimeZone/bin/
Play/obj/
Play/bin/
Play.v11.suo
*.user
Selenium/lib/selenium-dotnet-2.45.0/net35/Selenium.WebDriverBackedSelenium.dll
Selenium/lib/selenium-dotnet-2.45.0/net35/Selenium.WebDriverBackedSelenium.pdb
Selenium/lib/selenium-dotnet-2.45.0/net35/ThoughtWorks.Selenium.Core.dll
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.Support.dll
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.pdb
Selenium/lib/selenium-dotnet-2.45.0/net40/Selenium.WebDriverBackedSelenium.pdb
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.dll
Selenium/lib/selenium-dotnet-2.45.0/net40/WebDriver.pdb
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.xml
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.Support.xml
Selenium/lib/selenium-dotnet-2.45.0/net35/Selenium.WebDriverBackedSelenium.xml
Selenium/lib/selenium-dotnet-2.45.0/net40/ThoughtWorks.Selenium.Core.pdb
Selenium/lib/selenium-dotnet-2.45.0/net35/WebDriver.Support.pdb
Selenium/lib/selenium-dotnet-2.45.0/WebDriver.chm
Selenium/lib/selenium-dotnet-2.45.0/net35/ThoughtWorks.Selenium.Core.xml
Selenium/lib/selenium-dotnet-2.45.0/net35/ThoughtWorks.Selenium.Core.pdb
Selenium/lib/selenium-dotnet-2.45.0/net40/WebDriver.Support.pdb