TimeZone/obj/Debug/TimeZone.csprojResolveAssemblyReference.cache
TimeZone/obj/Debug/TimeZone.csproj.FileListAbsolute.txt
TimeZone/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TimeZone/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TimeZone/obj/Debug/Play.TimeZone.pdb
TimeZone/bin/Debug/Play.pdb
TimeZone/bin/Debug/Play.TimeZone.exe
TimeZone/bin/Debug/Play.TimeZone.pdb
TimeZone/bin/Debug/Play.TimeZone.vshost.exe
TimeZone/bin/Debug/Play.TimeZone.exe.config
TimeZone/bin/Debug/Play.TimeZone.vshost.exe.config
TimeZone/bin/Debug/Play.TimeZone.vshost.exe.manifest
TimeZone/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TimeZone/bin/Debug/Play.dll
Play/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Play/obj/Debug/Play.csprojResolveAssemblyReference.cache
Play/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Play/bin/Debug/Play.pdb
Play/obj/Debug/Play.csproj.FileListAbsolute.txt
Play/obj/Debug/Play.pdb
Play/bin/Debug/Play.dll
Play/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Play/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Play/obj/Debug/Play.dll
TimeZone/obj/Debug/Play.TimeZone.exe
TimeZone/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Play.v11.suo